doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title URL-Shortner 
    body 
        h1 My first page.
        main 
            h2 This is the main part of my page.
        